{% extends 'main/home.html' %}
{% set page = page|default('starred') -%}

{% block page_title %}
Starred Events | {{ super() }}
{% endblock %}

{% block content_main %}
<h2 class="section-title">Starred Events</h2>

{% if events %}
    {% include 'starred/events.html' %}
{% else %}
    <div id="events">
        Please wait. Loading your starred events....
    </div>
{% endif %}

{% endblock %}
{% block site_js %}
{{ super() }}
    <script>
    $(function() {
    if (Stars.getStars().length) {
            $('#events').load(window.location + '',
                $.param({ids: Stars.getStars()}, true),
                function () {
                    Stars.triggerClickedStars();
                }
            );
        } else {
            $('#events').text("Sorry. You have no starred events");
        }
    });
    </script>
{% endblock %}
