{% extends 'main/home.html' %}
{% set page = page|default('starred') -%}

{% block page_title %}
Starred Events | {{ super() }}
{% endblock %}

{% block content_main %}
<h2 class="section-title">Starred Events</h2>

{% if events %}
    {% include 'starred/events.html' %}
{% else %}
    <div id="events">
        <p class="has-stars">Please wait. Loading your starred events...</p>
        <p class="no-stars" style="display:none">You have no starred events. Yet.</p>
    </div>
{% endif %}

{% endblock %}
{% block site_js %}
{{ super() }}
    <script>
    $(function() {
    if (Stars.getStars().length) {
            $('#events')
                .load(window.location + '?ids=' + Stars.getStars().join(','),
                     Stars.triggerClickedStars);
        } else {
            $('#events .has-stars').hide();
            $('#events .no-stars').show();
        }
    });
    </script>
{% endblock %}
