form.suggest input,
form.suggest textarea {
    width: 100%;
}

.form-actions {
    float: right;
    margin-top: 10px;
}

form .control-group {
    margin-top: 10px;
}

textarea#id_short_description {
    height: 100px;
}

#id_start_time {
    width: 200px;
}
